:root {
    --body-color: rgb(228, 233, 247);
    --sidebar-color: rgb(255, 255, 255);
    --primary-color: #695cfe;
    --primary-color-light: rgba(105, 92, 254, 0.1);
    --toggle-color: rgb(221, 221, 221);
    --text-color: rgb(112, 112, 112);
    --success-color: #00C851;
    --error-color: #FF4444;
    --primaryDropShadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}


/* POPUPS ----------------------------------------------------------------------------------------------*/
dialog[open] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-width: 0px;
    outline: none;
}

dialog .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--sidebar-color);
    padding: 40px;
    border-radius: 8px;
    min-width: 550px;
    min-height: 400px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);  
}

#modal__removerNota {
    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: 20px;
        & legend {
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            color: var(--text-color);
        }
        & .note {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 32px;
            border-radius: 16px;
            box-shadow: var(--primaryDropShadow);
            background-color: var(--sidebar-color);
            min-height: 220px;
    
            & .note__titulo {
                font-size: 18px;
                font-weight: 600;
                color: var(--text-color);
                max-height: 40px;
            }
    
            & .note__content{
                resize: none;
                font-size: 14px;
                font-weight: 400;
                color: var(--text-color);
                width: 100%;
                padding: 0px 16px;
                height: 160px;
                background-color: transparent;
                border: none;
            }
        }
        & .modal__removerNota--btns {
            display: flex;
            gap: 20px;
        }
        & span {
            color: var(--text-color);
            text-align: center;
        }
        & button {
            flex-grow: 1;
            height: 48px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            color: #FFFFFF;
            background-color: var(--primary-color);
            outline: none;
            transition: all, 0.3, ease;
        }
        & button:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all, 0.3, ease;
        }
        & .btnVoltar {
            background-color: var(--text-color);
            color: var(--sidebar-color);
        }
        & .btnRemover {
            background-color: var(--error-color);
        }
    }
}

#modal__editarNota {
    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: 24px;
        & legend {
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            color: var(--text-color);
        }
        & .note {
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 20px;
            border-radius: 18px;
            box-shadow: var(--primaryDropShadow);
            background-color: var(--sidebar-color);
            min-height: 220px;
            & .note__titulo {
                background-color: transparent;
                font-size: 18px;
                font-weight: 600;
                color: var(--text-color);
                max-height: 40px;
                border: dashed 1px #E3E3E3;
                border-radius: 4px;
                padding: 2px 8px;
            }
            & .note__titulo:focus {
                border: none;
                outline: solid 1px var(--primary-color);
            }
            & .note__content{
                resize: none;
                font-size: 14px;
                font-weight: 400;
                color: var(--text-color);
                width: 100%;
                padding: 8px;
                height: 160px;
                background-color: transparent;
                border: dashed 1px #E3E3E3;
                border-radius: 8px;
            }
            & .note__content:focus{
                border: none;
                outline: solid 1px var(--primary-color);
            }
        }
        & .modal__editarNota--btns {
            display: flex;
            gap: 20px;
        }
        & button {
            flex-grow: 1;
            height: 48px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            color: #FFFFFF;
            background-color: var(--primary-color);
            outline: none;
            transition: all, 0.3, ease;
        }
        & button:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all, 0.3, ease;
        }
        & .btnVoltar {
            background-color: var(--text-color);
            color: var(--sidebar-color);
        }
        & .btnEditar {
            background-color: var(--primary-color);
        }
    }
}

/* CUSTOM SCROLLBAR ----------------------------------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: var(--primary-color);
border: 0px none #ffffff;
border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
background: var(--primary-color);
}
::-webkit-scrollbar-thumb:active {
background: var(--primary-color);
}
::-webkit-scrollbar-track {
background: #00000000;
border: 0px none #ffffff;
border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
background: #00000000;
}
::-webkit-scrollbar-track:active {
background: #00000000;
}
::-webkit-scrollbar-corner {
background: transparent;
}
::-webkit-scrollbar-button {
width: 8px;
height: 8px;
}


/* DARK MODE COLORS ------------------------------------------------------------------------------------------------------------------------*/
.darkMode {
    --body-color: #000000;
    --sidebar-color: #1E1E1E;
    --primary-color-light: #1E1E1E;
    --text-color: #FFFFFF;
    --primaryDropShadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.1);
}

/* 404 NOT FOUND --------------------------------------------------------------------------------------------------------------*/
.notFound {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: url('/img/not_found_bg.jpg') center / cover no-repeat;
    & h1 {
        margin-top: 20%;
        font-size: 48px;
        font-weight: 700;
        color: var(--primary-color);
    }
    & p {
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color);
    }
    & a {
        color: var(--sidebar-color);
        transition: transform 0.3s ease;
        padding: 8px 20px;
        border-radius: 32px;
        background-color: var(--primary-color);
        box-shadow: var(--primaryDropShadow);
    }
    & a:hover {
        transition: transform 0.3s ease;
        transform: scale(1.1);
    }
}

/* FLASH MESSAGES ------------------------------------------------------------------------------------------------------------------------------*/
.flash_msg {
    position: fixed;
    bottom: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #FFFFFF;
    padding: 16px 32px 16px 24px;
    border-radius: 8px;
    box-shadow: var(--primaryDropShadow);

    & i {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 14px;
        cursor: pointer;
    }
}

.flash_msg.hidden {
    opacity: 0;
}

.success_msg {
    background-color: var(--success-color);
}

.error_msg {
    background-color: var(--error-color);
}

/* SIDEBAR MENU -----------------------------------------------------------------------------------------------------------------------------*/
.pageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.sideBar {
    display: flex;
    flex-direction: column;
    padding: 32px 20px;
    margin: 12px;
    max-width: 250px;
    min-width: 200px;
    flex-grow: 1;
    background-color: var(--sidebar-color);
    box-shadow: var(--primaryDropShadow);
    border-radius: 20px;
    transition: transform 0.3s ease;
    gap: 12px;
    & header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & .sideBar--logo {
            max-width: 40px;
            max-height: 40px;
        }
        & .sideBar--logo:hover {
            cursor: pointer;
        }
        & .sideBar--title {
            margin-left: 4px;
            font-size: 24px;
            font-weight: 600;
            color: var(--text-color);
        }
    }
    & main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        & .sideBar--toggleIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary-color);
            border-radius: 50%;
            padding: 2px;
            width: 24px;
            height: 24px;
            margin-bottom: 12px;
            align-self: flex-end;
            margin-right: -30px;
        }
        & .sideBar--toggleIcon:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
        & .sideBar--toggleIcon i {
            color: var(--sidebar-color);
            font-size: 18px;
        }
        & .sideBar--menuOptions {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 12px;
            flex-grow: 1;
            & a {
                display: flex;
                align-items: center;
                border-radius: 8px;
                padding: 12px 8px;
                & li {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
                & i {
                    color: var(--primary-color);
                    font-size: 24px;
                }
            }
            & a:hover, a.selected {
                cursor: pointer;
                background-color: var(--primary-color);
                transition: background-color 0.3s ease;
                & li {
                    color: white;
                    & i {
                        color: white;
                    }
                }
            } 
        }
    }
    & footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 12px; 
        & .sideBar--lightMode {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            background-color: var(--body-color);
            padding: 4px;
            border-radius: 60px;
            width: 80px;
            & .sideBar--lightModeIcon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--sidebar-color);
                border-radius: 50%;
                padding: 8px;
                transition: transform 0.3s ease;
            }
            & .sideBar--lightModeIcon.dark {
                transform: translateX(36px) rotate(360deg);
                transition: transform 0.3s ease;
            }
            & i {
                color: var(--primary-color);
                font-size: 20px;
            }
        }
        & .sideBar--lightMode:hover {
            cursor: pointer;
        }
        & .sideBar--logout {
            display: flex;
            gap: 8px;
            align-items: center;
            & a {
                border-radius: 8px;
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
            }
            & a:hover {
                cursor: pointer;
            }
            & i {
                color: var(--text-color);
                font-size: 20px;
            }
            & a {
                font-size: 14px;
                color: var(--text-color);
            }
        }
    }
}

.sideBar--collapsed {
    max-width: 80px;
    min-width: 0px;
    padding: 32px 12px;
    & header {
        justify-content: center;
        & .sideBar--title {
            display: none;
        }
    }
    & main {
        & .sideBar--toggleIcon {
            margin-right: -20px;
        }
        & .sideBar--toggleIcon:hover {
            transform: scale(1.2);
        }
        & .sideBar--menuOptions {
            & a {
                padding: 12px;
                justify-content: center;
                & li {
                    & i {
                        color: var(--primary-color);
                    }
                    & span {
                        display: none;
                    }
                }
            }
        }
    }
    & footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        & .sideBar--logout {
            flex-direction: column;
            & a {
                padding: 10px;
            }
            & a:hover {
                background-color: var(--primary-color);
                & i {
                    color: var(--sidebar-color);
                }
            }
        }

        & .sideBar--lightMode {
            width: auto;

            & .sideBar--lightModeIcon.dark {
                transform: none;
            }

        }

        span {
            display: none;
        }
    }
}

/* CONTENT ----------------------------------------------------------------------------------------------------------------------------------*/
.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    overflow: hidden;
    & header {
        display: flex;
        flex-direction: row;
        background-color: var(--sidebar-color);
        box-shadow: var(--primaryDropShadow);
        align-items: center;
        justify-content: space-between;
        padding: 8px 32px;
        border-radius: 20px;
        margin: 12px 12px 0px;
        & .content--title {
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 20px;
        }
        & .content--profileInfos {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            column-gap: 12px;
            border-radius: 12px;
            padding: 8px 16px;
            & .content--profilePhoto {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            & .content--profileName {
                color: var(--text-color);
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: 400;
            }
        }
        & .content--profileInfos:hover {
            background-color: var(--primary-color-light);
        }
    }
    & main {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 32px 20px;
        overflow: scroll;
        flex-grow: 1;
    }
}

/* NOTES ----------------------------------------------------------------------------------------------------------------------------------*/
.addNote {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    box-shadow: var(--primaryDropShadow);
    background-color: var(--sidebar-color);
    max-width: 500px;
    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: 24px;
        & legend {
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            color: var(--text-color);
        }
        & input {
            background-color: transparent;
            font-size: 18px;
            font-weight: 600;
            color: var(--text-color);
            max-height: 40px;
            border: solid 1px #E3E3E3;
            border-radius: 4px;
            padding: 2px 8px;
        }
        & input:focus {
            border: none;
            outline: solid 1px var(--primary-color);
        }
        & input::placeholder, textarea::placeholder{
            color: #E3E3E3;
        }
        & textarea{
            resize: none;
            font-size: 14px;
            font-weight: 400;
            color: var(--text-color);
            width: 100%;
            padding: 8px;
            height: 160px;
            background-color: transparent;
            border: solid 1px #E3E3E3;
            border-radius: 8px;
        }
        & textarea:focus{
            border: none;
            outline: solid 1px var(--primary-color);
        }
        & button {
            flex-grow: 1;
            height: 48px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            color: #FFFFFF;
            background-color: var(--primary-color);
            outline: none;
            transition: all, 0.3, ease;
        }
        & button:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all, 0.3, ease;
        }
    }
}

.notesFilters {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 12px 16px 0;
    & .notesFilters--searchBar{
        display: flex;
        align-items: center;
        border-radius: 12px;
        gap: 8px;
        background-color: var(--sidebar-color);
        padding: 8px 16px;
        flex-grow: 1;
        & i {
            color: var(--text-color);
            font-size: 22px;
        }
        & input {
            padding: 4px;
            outline: none;
            border: none;
            outline: none;
            flex-grow: 1;
            color: var(--text-color);
            background-color: var(--sidebar-color);
        }
        & input::placeholder {
            opacity: 0.4;
        }
    }
    & .notesFilters--exibirFinalizadas, .notesFilters--ordenarPorData{
        display: flex;
        align-items: center;
        border-radius: 12px;
        gap: 8px;
        background-color: transparent;
        padding: 8px;
        border: solid 1px var(--primary-color);
        cursor: pointer;
        & i {
            color: var(--primary-color);
            font-size: 22px;
        }
        & span {
            color: var(--primary-color);
            font-size: 14px;
        }
    }
    & .notesFilters--exibirFinalizadas.active{
        background-color: var(--primary-color);
        border: solid 1px var(--primary-color);
        cursor: pointer;
        & i {
            color: var(--sidebar-color);
        }
        & span {
            color: var(--sidebar-color);
        }
    }
}

.notesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    & .notes {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 32px;
        border-radius: 16px;
        box-shadow: var(--primaryDropShadow);
        background-color: var(--sidebar-color);
        min-height: 220px;
        & .notes__titulo {
            font-size: 18px;
            font-weight: 600;
            color: var(--text-color);
            max-height: 40px;
        }
        & .notes__content{
            resize: none;
            font-size: 14px;
            font-weight: 400;
            color: var(--text-color);
            width: 100%;
            padding: 0px 16px;
            height: 120px;
            background-color: transparent;
            border: none;
        }
        & .notes__footer {
            display: flex;
            gap: 6px;
            align-items: center;
            justify-content: flex-end;
            & .notes__data {
                display: flex;
                flex-grow: 1;
                font-size: 11px;
                color: var(--text-color);
            }
            & .notes__footer--btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                background-color: var(--text-color);
                padding: 8px;
                border-radius: 20px;
                outline: none;
                border: none;
                color: var(--sidebar-color);
                font-size: 11px;
                letter-spacing: 1px;
                transition: all 0.3s ease;
                & i {
                    font-size: 16px;
                }
                & span {
                    display: none;
                }
            }
            & .notes__footer--btn:hover {
                padding: 8px 12px;
                cursor: pointer;
                transition: all 0.3s ease;
                & span {
                    display: block;
                }
            }
            & .finalizarBtn {
                background-color: var(--primary-color);
                
            }
        }
    }
    & .notes.hidden {
        display: none;
    }
    & .notes__finalizada {
        opacity: 0.5;
        background-color: var(--primary-color-light);
        box-shadow: none;
        & .notes__titulo, .notes__content {
            text-decoration: line-through;
        }
        & .notes__footer {
            & .notes__footer--btn{
                background-color: var(--primary-color-light);
                border: dashed 1px var(--primary-color);
                & i, span {
                    color: var(--primary-color);
                }
            }
        }
    }
    & .emptyNotes {
        justify-content: center;
        align-items: center;
        gap: 12px;
        box-shadow: none;
        background-color: transparent;
        border: dashed 2px #B5B5B5;
        & i {
            font-size: 48px;
            color: #B5B5B5;
        }
        & span {
            color: #B5B5B5;
            font-size: 18px;
            font-weight: 500;
        };
    }
}

/* AUTH ---------------------------------------------------------------------------------------------------------------------------------*/
.authBg {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    background: url('/img/notes-bg.png') center/cover no-repeat;
    & .container {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;
        align-content: center;
        flex-grow: 1;
        max-width: 50%;
    }
    & .authBanner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 40px;
        border-radius: 20px;
        min-width: 70%;
        min-height: 50%;
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        box-shadow: var(--primaryDropShadow);
        & img {
            width: 80px;
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        }
        & .authBanner--logoTitle {
            font-size: 32px;
            font-weight: 500;
            color: var(--sidebar-color);
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        }
    }
    & .authForms {
        display: flex;
        flex-direction: column;
        background-color: var(--sidebar-color);
        box-shadow: var(--primaryDropShadow);
        align-items: center;
        & form.authForms--hidden {
            display: none;
        }
        & form {
            display: flex;
            flex-direction: column;
            min-width: 500px;
            & legend {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 40px;
            }
            & .inputContainer{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                & label {
                    color: var(--text-color);
                }
                & input {
                    font-size: 16px;
                    height: 48px;
                    padding: 2px 20px;
                    border-radius: 6px;
                    border: none;
                    background-color: #F5F5F5;
                }
                & input:focus {
                    outline-color: var(--primary-color);
                }
                /* INVALID VALUES INPUTS ---------------------------- */
                & .input__errorMsg{
                    display: none;
                    color: var(--error-color);
                    font-size: 14px;
                    margin: 4px 4px; 
                }
                & input.invalid {
                    border: 2px solid var(--error-color);
                }
                & input.invalid + .input__errorMsg {
                    display: block;
                }
                /*--------------------------------------------------- */
            }
            & button {
                height: 48px;
                border: none;
                border-radius: 6px;
                font-size: 18px;
                color: #FFFFFF;
                margin-top: 40px;
                background-color: var(--primary-color);
            }
            & button:hover {
                cursor: pointer;
                transform: scale(1.05);
                transition: all 0.3s ease;
            }
        }
        & .authToggle {
            display: flex;
            flex-direction: row;
            gap: 8px;
            margin-top: 40px;
            flex-wrap: nowrap;
            color: var(--text-color);
            & .authToggle--link {
                color: var(--primary-color);
                font-weight: 600;
                text-decoration: underline;
            }
            & .authToggle--link:hover {
                cursor: pointer;
            }
        }
        & .authFlashMsgs {
            min-width: 500px;
            margin-top: 40px;
        }
    }
}

/* >= 1200px screen */
@media (max-width: 1200px) {
    .authBg {
        flex-direction: column;
        & .container {
            flex-grow: 0;
            max-width: 100%;
        }
        & .authForms {
            flex-grow: 1;
            padding: 20px;
            & form {
                min-width: 100px;
            }
            & .authFlashMsgs {
                min-width: 100px;
                margin-top: 40px;
            }
        }
        & .authBanner {
            align-self: normal;
            flex-grow: 1;
        }
    }
}