<form action="/novaNota" method="POST">

   <label for="titulo"></label>
   <input type="text" name="titulo">

   <label for="descricao"></label>
   <textarea name="descricao"></textarea>

   <button type="submit">Criar nota</button>
   
</form>