<div class="addNote">
    <form action="/novaNota" method="POST">

        <legend>Criar Nota</legend>

        <input type="text" class="note__titulo" name="titulo" placeholder="Título" required></input>
        <textarea class="note__content" name="descricao" placeholder="Escreva aqui..." required></textarea>

        <button class="btnCriarNota" type="submit">Criar</button>

    </form>
</div>