<div style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; justify-content: center; gap: 16px; border-radius: 20px; padding: 40px; border: dashed 2px #B5B5B5">
    <i style="font-size: 48px; color: #B5B5B5"class="material-icons">engineering</i>
    <h2 style="color: #B5B5B5">EM CONSTRUÇÃO</h2>
</div>
