{{#if users}}
  <ul>
    {{#each users}}
      <li>
        {{this.email}} 
        <a href="/runAs/{{this._id}}">Run As</a>
        <a href="/deleteUser/{{this._id}}"><i class="material-icons">delete</i> </a>
      </li>
      <br><br> 
    {{/each}}
  </ul>
{{else}}
  <p>Sem usuários cadastrados</p>
{{/if}}

<a href="/auth">Cadastrar novo usuário</a>
<a href="/">Voltar</a>