<header>
  <h2 class="content--title">{{page}}</h2>
  <div class="content--profileInfos">
    {{#if user}}
      <img class="content--profilePhoto" src="img/default-profile-avatar.svg" alt="Imagem de perfil">
      <span class="content--profileName">{{user.nome}}</span>
    {{else}}
    {{/if}}
    </span>
  </div>
</header>