{{#if notes}}
    <div class="notesFilters">
        <div title="Buscar por título" class="notesFilters--searchBar"><i class="material-icons">search</i><input type="text" name="notesFilters--searchBar__inputValue" id="notesFilters--searchBar__inputValue"></div>
        <div onclick="filtraNotasFinalizadas()" title="Exibir notas finalizadas" class="notesFilters--exibirFinalizadas"><i class="material-icons">add_task</i><span>Exibir Finalizadas</span></div>
        <div title="Exibir do antigo pro mais recente" class="notesFilters--ordenarPorData"><i class="material-icons">event_note</i></div>
    </div>
{{/if}}
