{{#if success_msg}}
  <span class="flash_msg success_msg">{{success_msg}}<i class="material-icons flash_msg--closeIcon">close</i></span>
{{/if}}

{{#if error_msg}}
  <span class="flash_msg error_msg">{{error_msg}}<i class="material-icons flash_msg--closeIcon">close</i></span>
{{/if}}
