<dialog id="modal__removerNota">
    <div class="container">
        <form action="" method="POST">
            <legend>Remover Nota</legend>
            <input type="hidden" name="_id" id="removeNota_id">
            <div class="modal__removerNota--btns">
                <button class="btnRemover" type="submit">Deletar</button>
                <button class="btnVoltar">Voltar</button>
            </div>
        </form>
    </div>
</dialog>