<nav class="sideBar">
  <header>
    <img class="sideBar--logo" src="./img/Logo.svg" alt="Logo">
    <span class="sideBar--title">Anota Aí</span>
  </header>
  <main>
    <span class="sideBar--toggleIcon" title="Recolher menu"><i class="material-icons">chevron_left</i></span>
    <ul class="sideBar--menuOptions">
        <a title="Home" {{#if (equal page 'Home')}} class="selected"{{/if}} href="/home"><li><i class="material-icons">home</i><span>Home</span></li></a> 
        <a title="Minhas notas"{{#if (equal page 'Minhas notas')}} class="selected"{{/if}}   href="/notas"><li><i class="material-icons">note</i><span>Notas</span></li></a>
        <a title="Nova nota" {{#if (equal page 'Nova nota')}} class="selected"{{/if}}  href="/novaNota"><li><i class="material-icons">note</i><span>Nova nota</span></li></a>
    </ul>
  </main>
  <footer>
    <div class="sideBar--lightMode" title="Modo escuro">
      <span class="sideBar--lightModeIcon"><i class="material-icons">light_mode</i></span>
    </div>
    <form action="/signout" method="POST" class="sideBar--logout">
        <a href="#" onclick="this.parentNode.submit()" title="Sair">
            <i class="material-icons">logout</i>
            <span>Sair</span>
        </a>
    </form>
  </footer>
</nav>