<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title class="">Anota Aí</title>
</head>
<body>
  {{> _navBar}}
  {{> _user}}
  {{> _flashMensagens}}
  {{{body}}}

  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>